<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>328519025312-k271r6rieqncrjl9mvp8rb4apng1puqp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.328519025312-k271r6rieqncrjl9mvp8rb4apng1puqp</string>
	<key>API_KEY</key>
	<string>AIzaSyBzvxjRvcN1N9_gEU6nCcllnAhDPB_2u-w</string>
	<key>GCM_SENDER_ID</key>
	<string>328519025312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.usamamuzaffar.beatBoxMusicPlayerFlutter</string>
	<key>PROJECT_ID</key>
	<string>beat-box-music-player-72ba6</string>
	<key>STORAGE_BUCKET</key>
	<string>beat-box-music-player-72ba6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:328519025312:ios:d3c1283d6840dff75d7fc5</string>
</dict>
</plist>